<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>B</key>
  <dict>
    <key>AE</key>
    <integer>-50</integer>
    <key>T</key>
    <integer>-50</integer>
    <key>V</key>
    <integer>-63</integer>
    <key>x</key>
    <integer>-13</integer>
    <key>y</key>
    <integer>-13</integer>
    <key>public.kern2.A2</key>
    <integer>-50</integer>
    <key>public.kern2.U</key>
    <integer>-25</integer>
    <key>public.kern2.W2</key>
    <integer>-38</integer>
    <key>public.kern2.Y2</key>
    <integer>-50</integer>
    <key>public.kern2.Z2</key>
    <integer>-50</integer>
    <key>public.kern2.b2</key>
    <integer>-13</integer>
    <key>public.kern2.comma2</key>
    <integer>-50</integer>
    <key>public.kern2.f</key>
    <integer>-13</integer>
    <key>public.kern2.m</key>
    <integer>-25</integer>
    <key>public.kern2.t2</key>
    <integer>-25</integer>
    <key>public.kern2.v2</key>
    <integer>-38</integer>
    <key>public.kern2.z2</key>
    <integer>-25</integer>
  </dict>
  <key>F</key>
  <dict>
    <key>AE</key>
    <integer>-125</integer>
    <key>M</key>
    <integer>-50</integer>
    <key>T</key>
    <integer>-88</integer>
    <key>V</key>
    <integer>-50</integer>
    <key>guilsinglright</key>
    <integer>-13</integer>
    <key>j</key>
    <integer>-25</integer>
    <key>x</key>
    <integer>-63</integer>
    <key>y</key>
    <integer>-63</integer>
    <key>public.kern2.A2</key>
    <integer>-113</integer>
    <key>public.kern2.C2</key>
    <integer>-50</integer>
    <key>public.kern2.J2</key>
    <integer>-150</integer>
    <key>public.kern2.W2</key>
    <integer>-25</integer>
    <key>public.kern2.Y2</key>
    <integer>-50</integer>
    <key>public.kern2.a2</key>
    <integer>-75</integer>
    <key>public.kern2.c</key>
    <integer>-75</integer>
    <key>public.kern2.colon2</key>
    <integer>-63</integer>
    <key>public.kern2.comma2</key>
    <integer>-63</integer>
    <key>public.kern2.f</key>
    <integer>-50</integer>
    <key>public.kern2.hyphen2</key>
    <integer>-50</integer>
    <key>public.kern2.i2</key>
    <integer>-50</integer>
    <key>public.kern2.m</key>
    <integer>-75</integer>
    <key>public.kern2.s2</key>
    <integer>-100</integer>
    <key>public.kern2.t2</key>
    <integer>-50</integer>
    <key>public.kern2.u</key>
    <integer>-75</integer>
    <key>public.kern2.v2</key>
    <integer>-50</integer>
    <key>public.kern2.w2</key>
    <integer>-38</integer>
    <key>public.kern2.z2</key>
    <integer>-75</integer>
  </dict>
  <key>P</key>
  <dict>
    <key>M</key>
    <integer>-25</integer>
    <key>public.kern2.A2</key>
    <integer>-100</integer>
    <key>public.kern2.Y2</key>
    <integer>-38</integer>
    <key>public.kern2.Z2</key>
    <integer>-50</integer>
    <key>public.kern2.a2</key>
    <integer>-50</integer>
    <key>public.kern2.c</key>
    <integer>-50</integer>
    <key>public.kern2.comma2</key>
    <integer>-100</integer>
    <key>public.kern2.hyphen2</key>
    <integer>-50</integer>
    <key>public.kern2.m</key>
    <integer>-38</integer>
    <key>public.kern2.s2</key>
    <integer>-50</integer>
    <key>public.kern2.z2</key>
    <integer>-38</integer>
  </dict>
  <key>Thorn</key>
  <dict>
    <key>public.kern2.a2</key>
    <integer>-13</integer>
    <key>public.kern2.c</key>
    <integer>-13</integer>
  </dict>
  <key>V</key>
  <dict>
    <key>AE</key>
    <integer>-113</integer>
    <key>M</key>
    <integer>-25</integer>
    <key>T</key>
    <integer>-25</integer>
    <key>V</key>
    <integer>-38</integer>
    <key>guilsinglright</key>
    <integer>-13</integer>
    <key>j</key>
    <integer>-13</integer>
    <key>x</key>
    <integer>-38</integer>
    <key>y</key>
    <integer>-25</integer>
    <key>public.kern2.A2</key>
    <integer>-113</integer>
    <key>public.kern2.C2</key>
    <integer>-63</integer>
    <key>public.kern2.S2</key>
    <integer>-38</integer>
    <key>public.kern2.Y2</key>
    <integer>-38</integer>
    <key>public.kern2.a2</key>
    <integer>-100</integer>
    <key>public.kern2.c</key>
    <integer>-100</integer>
    <key>public.kern2.colon2</key>
    <integer>-38</integer>
    <key>public.kern2.comma2</key>
    <integer>-38</integer>
    <key>public.kern2.f</key>
    <integer>-38</integer>
    <key>public.kern2.hyphen2</key>
    <integer>-38</integer>
    <key>public.kern2.i2</key>
    <integer>-25</integer>
    <key>public.kern2.m</key>
    <integer>-50</integer>
    <key>public.kern2.s2</key>
    <integer>-75</integer>
    <key>public.kern2.t2</key>
    <integer>-38</integer>
    <key>public.kern2.u</key>
    <integer>-50</integer>
    <key>public.kern2.v2</key>
    <integer>-25</integer>
    <key>public.kern2.w2</key>
    <integer>-25</integer>
    <key>public.kern2.z2</key>
    <integer>-50</integer>
  </dict>
  <key>X</key>
  <dict>
    <key>y</key>
    <integer>-38</integer>
    <key>public.kern2.C2</key>
    <integer>-50</integer>
    <key>public.kern2.U</key>
    <integer>-13</integer>
    <key>public.kern2.a2</key>
    <integer>-38</integer>
    <key>public.kern2.c</key>
    <integer>-50</integer>
    <key>public.kern2.f</key>
    <integer>-25</integer>
    <key>public.kern2.hyphen2</key>
    <integer>-38</integer>
    <key>public.kern2.m</key>
    <integer>-13</integer>
    <key>public.kern2.s2</key>
    <integer>-38</integer>
    <key>public.kern2.t2</key>
    <integer>-25</integer>
    <key>public.kern2.u</key>
    <integer>-25</integer>
    <key>public.kern2.v2</key>
    <integer>-38</integer>
    <key>public.kern2.w2</key>
    <integer>-25</integer>
  </dict>
  <key>d</key>
  <dict>
    <key>public.kern2.a2</key>
    <integer>-38</integer>
    <key>public.kern2.m</key>
    <integer>-13</integer>
    <key>public.kern2.t2</key>
    <integer>-13</integer>
    <key>public.kern2.v2</key>
    <integer>-13</integer>
    <key>public.kern2.w2</key>
    <integer>-13</integer>
    <key>public.kern2.z2</key>
    <integer>-13</integer>
  </dict>
  <key>eth</key>
  <dict>
    <key>public.kern2.a2</key>
    <integer>-25</integer>
    <key>public.kern2.v2</key>
    <integer>-25</integer>
  </dict>
  <key>f</key>
  <dict>
    <key>eth</key>
    <integer>-13</integer>
    <key>question</key>
    <integer>13</integer>
    <key>public.kern2.a2</key>
    <integer>-38</integer>
    <key>public.kern2.b2</key>
    <integer>-13</integer>
    <key>public.kern2.c</key>
    <integer>-25</integer>
    <key>public.kern2.comma2</key>
    <integer>-100</integer>
  </dict>
  <key>l</key>
  <dict>
    <key>public.kern2.c</key>
    <integer>-13</integer>
    <key>public.kern2.t2</key>
    <integer>-13</integer>
    <key>public.kern2.v2</key>
    <integer>-13</integer>
  </dict>
  <key>lslash</key>
  <dict>
    <key>y</key>
    <integer>13</integer>
    <key>public.kern2.c</key>
    <integer>13</integer>
  </dict>
  <key>questiondown</key>
  <dict>
    <key>T</key>
    <integer>-100</integer>
    <key>V</key>
    <integer>-100</integer>
    <key>public.kern2.Y2</key>
    <integer>-100</integer>
  </dict>
  <key>quotesingle</key>
  <dict>
    <key>public.kern2.A2</key>
    <integer>-100</integer>
  </dict>
  <key>six</key>
  <dict>
    <key>nine</key>
    <integer>-25</integer>
  </dict>
  <key>x</key>
  <dict>
    <key>public.kern2.c</key>
    <integer>-25</integer>
    <key>public.kern2.hyphen2</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.A</key>
  <dict>
    <key>T</key>
    <integer>-50</integer>
    <key>V</key>
    <integer>-113</integer>
    <key>eth</key>
    <integer>-25</integer>
    <key>quotesingle</key>
    <integer>-75</integer>
    <key>y</key>
    <integer>-50</integer>
    <key>public.kern2.C2</key>
    <integer>-50</integer>
    <key>public.kern2.U</key>
    <integer>-25</integer>
    <key>public.kern2.W2</key>
    <integer>-50</integer>
    <key>public.kern2.Y2</key>
    <integer>-75</integer>
    <key>public.kern2.c</key>
    <integer>-38</integer>
    <key>public.kern2.f</key>
    <integer>-38</integer>
    <key>public.kern2.hyphen2</key>
    <integer>-50</integer>
    <key>public.kern2.i2</key>
    <integer>-25</integer>
    <key>public.kern2.m</key>
    <integer>-25</integer>
    <key>public.kern2.quotedblleft</key>
    <integer>-75</integer>
    <key>public.kern2.t2</key>
    <integer>-75</integer>
    <key>public.kern2.u</key>
    <integer>-25</integer>
    <key>public.kern2.v2</key>
    <integer>-75</integer>
    <key>public.kern2.w2</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.C</key>
  <dict>
    <key>x</key>
    <integer>-13</integer>
    <key>y</key>
    <integer>-13</integer>
    <key>public.kern2.C2</key>
    <integer>-25</integer>
    <key>public.kern2.a2</key>
    <integer>-25</integer>
    <key>public.kern2.c</key>
    <integer>-25</integer>
    <key>public.kern2.f</key>
    <integer>-13</integer>
    <key>public.kern2.m</key>
    <integer>-25</integer>
    <key>public.kern2.quotedblleft</key>
    <integer>-25</integer>
    <key>public.kern2.t2</key>
    <integer>-25</integer>
    <key>public.kern2.u</key>
    <integer>-25</integer>
    <key>public.kern2.v2</key>
    <integer>-25</integer>
    <key>public.kern2.w2</key>
    <integer>-13</integer>
    <key>public.kern2.z2</key>
    <integer>-25</integer>
  </dict>
  <key>public.kern1.D</key>
  <dict>
    <key>AE</key>
    <integer>-50</integer>
    <key>K</key>
    <integer>-25</integer>
    <key>L</key>
    <integer>-25</integer>
    <key>M</key>
    <integer>-25</integer>
    <key>T</key>
    <integer>-50</integer>
    <key>V</key>
    <integer>-50</integer>
    <key>X</key>
    <integer>-50</integer>
    <key>x</key>
    <integer>-25</integer>
    <key>public.kern2.A2</key>
    <integer>-50</integer>
    <key>public.kern2.J2</key>
    <integer>-75</integer>
    <key>public.kern2.W2</key>
    <integer>-25</integer>
    <key>public.kern2.Y2</key>
    <integer>-50</integer>
    <key>public.kern2.Z2</key>
    <integer>-88</integer>
    <key>public.kern2.a2</key>
    <integer>-25</integer>
    <key>public.kern2.comma2</key>
    <integer>-50</integer>
    <key>public.kern2.z2</key>
    <integer>-25</integer>
  </dict>
  <key>public.kern1.E</key>
  <dict>
    <key>T</key>
    <integer>-25</integer>
    <key>V</key>
    <integer>-50</integer>
    <key>y</key>
    <integer>-25</integer>
    <key>public.kern2.C2</key>
    <integer>-63</integer>
    <key>public.kern2.W2</key>
    <integer>-25</integer>
    <key>public.kern2.Y2</key>
    <integer>-50</integer>
    <key>public.kern2.c</key>
    <integer>-50</integer>
    <key>public.kern2.f</key>
    <integer>-38</integer>
    <key>public.kern2.m</key>
    <integer>-25</integer>
    <key>public.kern2.t2</key>
    <integer>-38</integer>
    <key>public.kern2.u</key>
    <integer>-38</integer>
    <key>public.kern2.v2</key>
    <integer>-38</integer>
    <key>public.kern2.w2</key>
    <integer>-25</integer>
  </dict>
  <key>public.kern1.G</key>
  <dict>
    <key>AE</key>
    <integer>-50</integer>
    <key>T</key>
    <integer>-25</integer>
    <key>V</key>
    <integer>-25</integer>
    <key>x</key>
    <integer>-13</integer>
    <key>public.kern2.A2</key>
    <integer>-25</integer>
    <key>public.kern2.W2</key>
    <integer>-25</integer>
    <key>public.kern2.Y2</key>
    <integer>-50</integer>
    <key>public.kern2.quotedblleft</key>
    <integer>-38</integer>
    <key>public.kern2.t2</key>
    <integer>-25</integer>
    <key>public.kern2.v2</key>
    <integer>-25</integer>
    <key>public.kern2.w2</key>
    <integer>-13</integer>
  </dict>
  <key>public.kern1.H</key>
  <dict>
    <key>AE</key>
    <integer>-38</integer>
    <key>B</key>
    <integer>13</integer>
    <key>D</key>
    <integer>-38</integer>
    <key>E</key>
    <integer>-25</integer>
    <key>V</key>
    <integer>-13</integer>
    <key>y</key>
    <integer>-13</integer>
    <key>public.kern2.A2</key>
    <integer>-13</integer>
    <key>public.kern2.W2</key>
    <integer>-13</integer>
    <key>public.kern2.Y2</key>
    <integer>-25</integer>
    <key>public.kern2.a2</key>
    <integer>-25</integer>
    <key>public.kern2.c</key>
    <integer>-25</integer>
    <key>public.kern2.s2</key>
    <integer>-13</integer>
    <key>public.kern2.u</key>
    <integer>-13</integer>
    <key>public.kern2.v2</key>
    <integer>-13</integer>
    <key>public.kern2.z2</key>
    <integer>-25</integer>
  </dict>
  <key>public.kern1.J</key>
  <dict>
    <key>AE</key>
    <integer>-50</integer>
    <key>I</key>
    <integer>-13</integer>
    <key>public.kern2.A2</key>
    <integer>-25</integer>
    <key>public.kern2.J2</key>
    <integer>-75</integer>
    <key>public.kern2.a2</key>
    <integer>-25</integer>
    <key>public.kern2.c</key>
    <integer>-25</integer>
    <key>public.kern2.comma2</key>
    <integer>-50</integer>
    <key>public.kern2.f</key>
    <integer>-13</integer>
    <key>public.kern2.m</key>
    <integer>-38</integer>
    <key>public.kern2.s2</key>
    <integer>-25</integer>
    <key>public.kern2.t2</key>
    <integer>-13</integer>
    <key>public.kern2.u</key>
    <integer>-25</integer>
    <key>public.kern2.z2</key>
    <integer>-13</integer>
  </dict>
  <key>public.kern1.K</key>
  <dict>
    <key>V</key>
    <integer>-25</integer>
    <key>y</key>
    <integer>-50</integer>
    <key>public.kern2.C2</key>
    <integer>-50</integer>
    <key>public.kern2.U</key>
    <integer>-25</integer>
    <key>public.kern2.W2</key>
    <integer>-25</integer>
    <key>public.kern2.Y2</key>
    <integer>-50</integer>
    <key>public.kern2.a2</key>
    <integer>-38</integer>
    <key>public.kern2.c</key>
    <integer>-50</integer>
    <key>public.kern2.f</key>
    <integer>-38</integer>
    <key>public.kern2.hyphen2</key>
    <integer>-50</integer>
    <key>public.kern2.i2</key>
    <integer>-25</integer>
    <key>public.kern2.m</key>
    <integer>-38</integer>
    <key>public.kern2.t2</key>
    <integer>-50</integer>
    <key>public.kern2.u</key>
    <integer>-50</integer>
    <key>public.kern2.v2</key>
    <integer>-50</integer>
    <key>public.kern2.w2</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.L</key>
  <dict>
    <key>D</key>
    <integer>-50</integer>
    <key>F</key>
    <integer>-50</integer>
    <key>K</key>
    <integer>-50</integer>
    <key>L</key>
    <integer>-63</integer>
    <key>R</key>
    <integer>-50</integer>
    <key>T</key>
    <integer>-100</integer>
    <key>V</key>
    <integer>-150</integer>
    <key>quotesingle</key>
    <integer>-100</integer>
    <key>y</key>
    <integer>-75</integer>
    <key>public.kern2.C2</key>
    <integer>-100</integer>
    <key>public.kern2.U</key>
    <integer>-75</integer>
    <key>public.kern2.W2</key>
    <integer>-100</integer>
    <key>public.kern2.Y2</key>
    <integer>-125</integer>
    <key>public.kern2.c</key>
    <integer>-68</integer>
    <key>public.kern2.f</key>
    <integer>-75</integer>
    <key>public.kern2.m</key>
    <integer>-38</integer>
    <key>public.kern2.quotedblleft</key>
    <integer>-100</integer>
    <key>public.kern2.t2</key>
    <integer>-75</integer>
    <key>public.kern2.u</key>
    <integer>-68</integer>
    <key>public.kern2.v2</key>
    <integer>-75</integer>
    <key>public.kern2.w2</key>
    <integer>-75</integer>
  </dict>
  <key>public.kern1.R</key>
  <dict>
    <key>T</key>
    <integer>-25</integer>
    <key>V</key>
    <integer>-75</integer>
    <key>y</key>
    <integer>-13</integer>
    <key>public.kern2.C2</key>
    <integer>-25</integer>
    <key>public.kern2.U</key>
    <integer>-25</integer>
    <key>public.kern2.W2</key>
    <integer>-25</integer>
    <key>public.kern2.Y2</key>
    <integer>-50</integer>
    <key>public.kern2.c</key>
    <integer>-25</integer>
    <key>public.kern2.hyphen2</key>
    <integer>-25</integer>
    <key>public.kern2.m</key>
    <integer>-13</integer>
    <key>public.kern2.quotedblleft</key>
    <integer>-38</integer>
    <key>public.kern2.t2</key>
    <integer>-25</integer>
    <key>public.kern2.u</key>
    <integer>-13</integer>
    <key>public.kern2.v2</key>
    <integer>-25</integer>
    <key>public.kern2.w2</key>
    <integer>-13</integer>
  </dict>
  <key>public.kern1.S</key>
  <dict>
    <key>AE</key>
    <integer>-38</integer>
    <key>T</key>
    <integer>-25</integer>
    <key>V</key>
    <integer>-50</integer>
    <key>y</key>
    <integer>-13</integer>
    <key>public.kern2.A2</key>
    <integer>-25</integer>
    <key>public.kern2.W2</key>
    <integer>-25</integer>
    <key>public.kern2.Y2</key>
    <integer>-50</integer>
    <key>public.kern2.quotedblleft</key>
    <integer>-13</integer>
    <key>public.kern2.t2</key>
    <integer>-13</integer>
    <key>public.kern2.v2</key>
    <integer>-13</integer>
    <key>public.kern2.w2</key>
    <integer>-13</integer>
    <key>public.kern2.z2</key>
    <integer>-13</integer>
  </dict>
  <key>public.kern1.T</key>
  <dict>
    <key>AE</key>
    <integer>-100</integer>
    <key>M</key>
    <integer>-25</integer>
    <key>T</key>
    <integer>-50</integer>
    <key>V</key>
    <integer>-38</integer>
    <key>guilsinglright</key>
    <integer>-25</integer>
    <key>x</key>
    <integer>-50</integer>
    <key>y</key>
    <integer>-50</integer>
    <key>public.kern2.A2</key>
    <integer>-50</integer>
    <key>public.kern2.C2</key>
    <integer>-50</integer>
    <key>public.kern2.J2</key>
    <integer>-125</integer>
    <key>public.kern2.S2</key>
    <integer>-25</integer>
    <key>public.kern2.W2</key>
    <integer>-25</integer>
    <key>public.kern2.Y2</key>
    <integer>-25</integer>
    <key>public.kern2.a2</key>
    <integer>-100</integer>
    <key>public.kern2.b2</key>
    <integer>-13</integer>
    <key>public.kern2.c</key>
    <integer>-100</integer>
    <key>public.kern2.colon2</key>
    <integer>-38</integer>
    <key>public.kern2.comma2</key>
    <integer>-38</integer>
    <key>public.kern2.f</key>
    <integer>-38</integer>
    <key>public.kern2.hyphen2</key>
    <integer>-75</integer>
    <key>public.kern2.i2</key>
    <integer>-25</integer>
    <key>public.kern2.m</key>
    <integer>-75</integer>
    <key>public.kern2.s2</key>
    <integer>-100</integer>
    <key>public.kern2.t2</key>
    <integer>-50</integer>
    <key>public.kern2.u</key>
    <integer>-100</integer>
    <key>public.kern2.v2</key>
    <integer>-75</integer>
    <key>public.kern2.w2</key>
    <integer>-75</integer>
    <key>public.kern2.z2</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.W</key>
  <dict>
    <key>M</key>
    <integer>-25</integer>
    <key>x</key>
    <integer>-13</integer>
    <key>y</key>
    <integer>-25</integer>
    <key>public.kern2.A2</key>
    <integer>-50</integer>
    <key>public.kern2.C2</key>
    <integer>-25</integer>
    <key>public.kern2.S2</key>
    <integer>-25</integer>
    <key>public.kern2.Y2</key>
    <integer>-13</integer>
    <key>public.kern2.a2</key>
    <integer>-50</integer>
    <key>public.kern2.c</key>
    <integer>-50</integer>
    <key>public.kern2.colon2</key>
    <integer>-25</integer>
    <key>public.kern2.comma2</key>
    <integer>-25</integer>
    <key>public.kern2.f</key>
    <integer>-13</integer>
    <key>public.kern2.hyphen2</key>
    <integer>-25</integer>
    <key>public.kern2.m</key>
    <integer>-25</integer>
    <key>public.kern2.s2</key>
    <integer>-25</integer>
    <key>public.kern2.u</key>
    <integer>-38</integer>
    <key>public.kern2.w2</key>
    <integer>-13</integer>
    <key>public.kern2.z2</key>
    <integer>-38</integer>
  </dict>
  <key>public.kern1.Y</key>
  <dict>
    <key>M</key>
    <integer>-50</integer>
    <key>T</key>
    <integer>-50</integer>
    <key>V</key>
    <integer>-13</integer>
    <key>guilsinglright</key>
    <integer>-25</integer>
    <key>x</key>
    <integer>-50</integer>
    <key>y</key>
    <integer>-50</integer>
    <key>public.kern2.A2</key>
    <integer>-100</integer>
    <key>public.kern2.C2</key>
    <integer>-50</integer>
    <key>public.kern2.J2</key>
    <integer>-150</integer>
    <key>public.kern2.S2</key>
    <integer>-25</integer>
    <key>public.kern2.W2</key>
    <integer>-13</integer>
    <key>public.kern2.a2</key>
    <integer>-100</integer>
    <key>public.kern2.b2</key>
    <integer>-25</integer>
    <key>public.kern2.c</key>
    <integer>-100</integer>
    <key>public.kern2.colon2</key>
    <integer>-75</integer>
    <key>public.kern2.comma2</key>
    <integer>-75</integer>
    <key>public.kern2.f</key>
    <integer>-50</integer>
    <key>public.kern2.hyphen2</key>
    <integer>-75</integer>
    <key>public.kern2.i2</key>
    <integer>-25</integer>
    <key>public.kern2.m</key>
    <integer>-75</integer>
    <key>public.kern2.s2</key>
    <integer>-100</integer>
    <key>public.kern2.t2</key>
    <integer>-50</integer>
    <key>public.kern2.u</key>
    <integer>-75</integer>
    <key>public.kern2.v2</key>
    <integer>-75</integer>
    <key>public.kern2.w2</key>
    <integer>-50</integer>
    <key>public.kern2.z2</key>
    <integer>-75</integer>
  </dict>
  <key>public.kern1.Z</key>
  <dict>
    <key>y</key>
    <integer>-38</integer>
    <key>public.kern2.C2</key>
    <integer>-88</integer>
    <key>public.kern2.c</key>
    <integer>-50</integer>
    <key>public.kern2.f</key>
    <integer>-38</integer>
    <key>public.kern2.hyphen2</key>
    <integer>-50</integer>
    <key>public.kern2.m</key>
    <integer>-38</integer>
    <key>public.kern2.t2</key>
    <integer>-63</integer>
    <key>public.kern2.u</key>
    <integer>-50</integer>
    <key>public.kern2.v2</key>
    <integer>-50</integer>
    <key>public.kern2.w2</key>
    <integer>-38</integer>
  </dict>
  <key>public.kern1.a</key>
  <dict>
    <key>quotesingle</key>
    <integer>-38</integer>
    <key>y</key>
    <integer>-38</integer>
    <key>public.kern2.c</key>
    <integer>-25</integer>
    <key>public.kern2.m</key>
    <integer>-13</integer>
    <key>public.kern2.quotedblleft</key>
    <integer>-50</integer>
    <key>public.kern2.t2</key>
    <integer>-38</integer>
    <key>public.kern2.u</key>
    <integer>-13</integer>
    <key>public.kern2.v2</key>
    <integer>-25</integer>
    <key>public.kern2.w2</key>
    <integer>-25</integer>
  </dict>
  <key>public.kern1.b</key>
  <dict>
    <key>quotesingle</key>
    <integer>-38</integer>
    <key>x</key>
    <integer>-25</integer>
    <key>y</key>
    <integer>-13</integer>
    <key>public.kern2.a2</key>
    <integer>-13</integer>
    <key>public.kern2.b2</key>
    <integer>-13</integer>
    <key>public.kern2.c</key>
    <integer>-25</integer>
    <key>public.kern2.comma2</key>
    <integer>-50</integer>
    <key>public.kern2.quotedblleft</key>
    <integer>-50</integer>
    <key>public.kern2.v2</key>
    <integer>-25</integer>
    <key>public.kern2.w2</key>
    <integer>-25</integer>
    <key>public.kern2.z2</key>
    <integer>-38</integer>
  </dict>
  <key>public.kern1.comma</key>
  <dict>
    <key>T</key>
    <integer>-50</integer>
    <key>V</key>
    <integer>-75</integer>
    <key>public.kern2.W2</key>
    <integer>-38</integer>
    <key>public.kern2.Y2</key>
    <integer>-63</integer>
  </dict>
  <key>public.kern1.g</key>
  <dict>
    <key>eth</key>
    <integer>-13</integer>
    <key>j</key>
    <integer>100</integer>
    <key>public.kern2.a2</key>
    <integer>-25</integer>
    <key>public.kern2.c</key>
    <integer>-13</integer>
    <key>public.kern2.i2</key>
    <integer>-13</integer>
    <key>public.kern2.s2</key>
    <integer>-25</integer>
    <key>public.kern2.t2</key>
    <integer>-13</integer>
    <key>public.kern2.u</key>
    <integer>-25</integer>
    <key>public.kern2.v2</key>
    <integer>-13</integer>
    <key>public.kern2.w2</key>
    <integer>-13</integer>
  </dict>
  <key>public.kern1.h</key>
  <dict>
    <key>public.kern2.b2</key>
    <integer>-13</integer>
    <key>public.kern2.c</key>
    <integer>-13</integer>
    <key>public.kern2.f</key>
    <integer>-13</integer>
    <key>public.kern2.m</key>
    <integer>-13</integer>
    <key>public.kern2.t2</key>
    <integer>-25</integer>
    <key>public.kern2.u</key>
    <integer>-13</integer>
    <key>public.kern2.v2</key>
    <integer>-25</integer>
    <key>public.kern2.w2</key>
    <integer>-13</integer>
  </dict>
  <key>public.kern1.hyphen</key>
  <dict>
    <key>T</key>
    <integer>-50</integer>
    <key>V</key>
    <integer>-38</integer>
    <key>X</key>
    <integer>-38</integer>
    <key>x</key>
    <integer>-25</integer>
    <key>public.kern2.A2</key>
    <integer>-25</integer>
    <key>public.kern2.W2</key>
    <integer>-25</integer>
    <key>public.kern2.Y2</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.i</key>
  <dict>
    <key>public.kern2.c</key>
    <integer>-13</integer>
  </dict>
  <key>public.kern1.j</key>
  <dict>
    <key>public.kern2.a2</key>
    <integer>-13</integer>
    <key>public.kern2.s2</key>
    <integer>-13</integer>
    <key>public.kern2.z2</key>
    <integer>-13</integer>
  </dict>
  <key>public.kern1.k</key>
  <dict>
    <key>public.kern2.b2</key>
    <integer>-25</integer>
    <key>public.kern2.c</key>
    <integer>-50</integer>
    <key>public.kern2.t2</key>
    <integer>-25</integer>
    <key>public.kern2.u</key>
    <integer>-25</integer>
    <key>public.kern2.v2</key>
    <integer>-38</integer>
    <key>public.kern2.w2</key>
    <integer>-13</integer>
  </dict>
  <key>public.kern1.parenleft</key>
  <dict>
    <key>j</key>
    <integer>125</integer>
    <key>public.kern2.J2</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.quoteleft</key>
  <dict>
    <key>T</key>
    <integer>-25</integer>
    <key>public.kern2.A2</key>
    <integer>-75</integer>
    <key>public.kern2.C2</key>
    <integer>-25</integer>
    <key>public.kern2.J2</key>
    <integer>-125</integer>
    <key>public.kern2.a2</key>
    <integer>-75</integer>
    <key>public.kern2.c</key>
    <integer>-75</integer>
    <key>public.kern2.s2</key>
    <integer>-75</integer>
  </dict>
  <key>public.kern1.quotesinglbase</key>
  <dict>
    <key>T</key>
    <integer>-50</integer>
    <key>V</key>
    <integer>-75</integer>
    <key>public.kern2.C2</key>
    <integer>-38</integer>
    <key>public.kern2.U</key>
    <integer>-38</integer>
    <key>public.kern2.W2</key>
    <integer>-38</integer>
    <key>public.kern2.Y2</key>
    <integer>-75</integer>
    <key>public.kern2.t2</key>
    <integer>-25</integer>
    <key>public.kern2.v2</key>
    <integer>-38</integer>
    <key>public.kern2.w2</key>
    <integer>-25</integer>
  </dict>
  <key>public.kern1.r</key>
  <dict>
    <key>eth</key>
    <integer>-13</integer>
    <key>public.kern2.a2</key>
    <integer>-25</integer>
    <key>public.kern2.c</key>
    <integer>-25</integer>
    <key>public.kern2.comma2</key>
    <integer>-50</integer>
    <key>public.kern2.hyphen2</key>
    <integer>-38</integer>
    <key>public.kern2.quotedblleft</key>
    <integer>-25</integer>
  </dict>
  <key>public.kern1.s</key>
  <dict>
    <key>y</key>
    <integer>-13</integer>
    <key>public.kern2.b2</key>
    <integer>-25</integer>
    <key>public.kern2.t2</key>
    <integer>-38</integer>
    <key>public.kern2.v2</key>
    <integer>-38</integer>
    <key>public.kern2.w2</key>
    <integer>-13</integer>
  </dict>
  <key>public.kern1.t</key>
  <dict>
    <key>public.kern2.a2</key>
    <integer>-13</integer>
    <key>public.kern2.c</key>
    <integer>-25</integer>
    <key>public.kern2.hyphen2</key>
    <integer>-38</integer>
  </dict>
  <key>public.kern1.v</key>
  <dict>
    <key>eth</key>
    <integer>-38</integer>
    <key>public.kern2.a2</key>
    <integer>-38</integer>
    <key>public.kern2.b2</key>
    <integer>-38</integer>
    <key>public.kern2.c</key>
    <integer>-25</integer>
    <key>public.kern2.comma2</key>
    <integer>-38</integer>
    <key>public.kern2.hyphen2</key>
    <integer>-38</integer>
    <key>public.kern2.quotedblleft</key>
    <integer>-25</integer>
    <key>public.kern2.s2</key>
    <integer>-38</integer>
  </dict>
  <key>public.kern1.w</key>
  <dict>
    <key>public.kern2.a2</key>
    <integer>-25</integer>
    <key>public.kern2.b2</key>
    <integer>-13</integer>
    <key>public.kern2.c</key>
    <integer>-25</integer>
    <key>public.kern2.comma2</key>
    <integer>-38</integer>
    <key>public.kern2.hyphen2</key>
    <integer>-13</integer>
    <key>public.kern2.quotedblleft</key>
    <integer>-25</integer>
    <key>public.kern2.s2</key>
    <integer>-25</integer>
  </dict>
  <key>public.kern1.z</key>
  <dict>
    <key>public.kern2.b2</key>
    <integer>-25</integer>
    <key>public.kern2.c</key>
    <integer>-38</integer>
  </dict>
  <key>public.kern1.zero</key>
  <dict>
    <key>nine</key>
    <integer>-25</integer>
    <key>public.kern2.zero2</key>
    <integer>-38</integer>
  </dict>
</dict>
</plist>
